<html>

<head>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- d3.js -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- custom css -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/graph.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/form.css') }}">

    <!-- custom js -->
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>



</head>


<body>
    <nav class="navbar navbar-inverse" style='border-radius: 0px;'>
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>


            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-12 titlebox'>
                <h1>heading</h1>
                <!-- <br> -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
            </div>
        </div>

        <div class='row'>
            <div class='col-sm-8 graphbox'>
                <div class='graph'></div>
            </div>
            <div class='col-sm-4 infobox'>

                <div class='info'>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info1 btn-default">Information</button>
                        <button type="button" class="btn btn-add btn-default">Add Data</button>
                        <button type="button" class="btn btn-features btn-default">Features</button>
                    </div>
                    <div class='info-1'>
                        <p class='infotext'>Pulsar Name :<span class='infodata pulsarname'></span></p>
                        <p class='infotext'>Times of Arrival :<span class='infodata toa'></span></p>
                        <p class='infotext'>Raw Profiles :<span class='infodata raw'></span></p>
                        <p class='infotext'>Period :<span class='infodata period'></span></p>
                        <p class='infotext'>Period Derivative :<span class='infodata pd'></span></p>
                        <p class='infotext'>Dispersion Measure :<span class='infodata dm'></span></p>
                        <p class='infotext'>Timing Residuals :<span class='infodata rms'></span></p>
                        <p class='infotext'>Binary System :<span class='infodata binary'></span></p>
                        <div class="btn-group spc2">
                            <button type="button" class="btn btn-hide btn-default"> Unselect node </button>
                            <button type="button" class="btn btn-delete btn-default">Delete Node</button>
                        </div>
                    </div>
                    <div class='info-2'>
                        <form class='send' method='post' action='/add/'>
                            <div class="input-group spc2">
                                <span class="input-group-addon" id="basic-addon1">Pulsar Name :</span>
                                <input type="text" class="form-control" name='Pulsar'>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Times of Arrival :</span>
                                <input type="text" class="form-control" name='TOAs'>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Raw Profiles :</span>
                                <input type="text" class="form-control" name='Raw Profiles'>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Period :</span>
                                <input type="text" class="form-control" name='Period'>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Period Derivative :</span>
                                <input type="text" class="form-control" name='Period Derivative'>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Dispersion Measure :</span>
                                <input type="text" class="form-control" name='DM'>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Timing Residuals :</span>
                                <input type="text" class="form-control" name='RMS'>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Binary System :</span>
                                <input type="text" class="form-control" name='Binary'>
                            </div>
                            <center class='spc'>
                                <button type="submit" id='submit' class="btn btn-primary"> Add to Graph </button>
                            </center>
                        </form>
                    </div>
                    <div class='info-3'>
                        <p>
                            Functions:
                            <br> 1. Zoom the graph using scroll wheel
                            <br> 2. Pan the graph using click and drag
                            <br> 3. Mouseover a node to view its information, pulled direct from the server
                            <br> 4. Click a node to Update/Delete it (TBD)
                            <br>
                            <br> Features :
                            <br> - Dynamic axis labeling on pan/zoom
                            <br> - Realtime updation of data from server through ajax
                            <br> - addition/deletion of data with automatic scale adjustment
                            <br> - axis labeling done on basis of
                            <a href='http://www.atnf.csiro.au/people/pulsar/Tutorial/tut/node9.html'>THIS LINK</a>
                            <br> - UI based on google's material design
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


</body>


</html>
